.product-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Reduced gap to 10px */
  padding: 10px; /* Reduced padding */
}

.product-card {
  text-align: center;
  width: calc(100% - 10px); /* Adjusted to match new gap */
  background-color: #fafafa;
  border-radius: 15px; /* Increased radius for a softer edge */
  overflow: hidden; /* Ensure image does not overflow rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow */
}

.product-image-container {
  position: relative; /* Allows positioning of the name */
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0; /* Rounding the top corners */
}

.product-name {
  position: absolute; /* Absolutely position the name */
  bottom: 10px; /* Distance from the bottom of the image */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to truly center */
  color: white; /* Text color */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for contrast */
  padding: 5px 10px; /* Padding around the text */
  border-radius: 5px; /* Slight rounding for text background */
  font-size: 1rem; /* Adjust font size as needed */
}
